<style>
    main {
        font-family: 'Segoe UI', system-ui, sans-serif;
    }

    header {
        width: 100%;
        text-align: center;
    }
</style>

<main>
    <header>
        <div>
            <h1>Primer examen - Hiram Jalil Castillo Gutierrez</h1>
        </div>
    </header>
    <section>
        <app-task-list
            [tasks]="tasks"
            (deleteTaskEvent)="deleteTask($event)"
            (markAsCompletedEvent)="markAsCompleted($event)"
        ></app-task-list>
    </section>
</main>
