<p>Lista de tareas</p>
<div *ngFor="let task of tasks" [ngClass]="{ completed: task.completed }">
    <div>
        <p>
            <strong>Id:</strong> {{ task.id }}
        </p>
        <p>
            <strong>Titulo:</strong> {{ task.title }}
        </p>
        <p>
            <strong>Completada:</strong> {{ task.completed ? 'Si' : 'No' }}
        </p>

        <input type="checkbox" [checked]="task.completed" disabled>
        <span>{{ task.title }}</span>
    </div>

    <!-- Aquí se muestra el botón de eliminar o marcar -->
    <div>
        <button (click)="deleteTask(task.id)">Eliminar</button>
        <button (click)="markAsCompleted(task.id)">Marcar</button>
    </div>
</div>
